@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Lemonada:wght@300..700&display=swap');
body {
    background-image: url(../img/images.jpg);
}
div img {
   margin:150px 70px 2px 135px ;
    height: 300px;
    background-image: url(../img/hello.jpg);
    background-repeat: no-repeat;
   background-position: center;

}

p a {
    color: rgb(212, 0, 255);
    font-size: 30px;
    text-decoration:none;
    letter-spacing:3px;
    word-spacing:20px;
    line-height: 60px;
    text-transform:uppercase;
}
p {
    margin : 20px 2px 2px 2px;
    padding : 5px 8px 5px 2px;
    text-align: center;
    color :rgb(0, 180, 126);
    font :italic normal  bold x-large 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-family : 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
p.art{

    font-size: 40px;
    margin-top: 40px;
    font-family: monospace;
    color: rgb(122, 0, 138);
}
